body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffe6e6; /* baby pink */
}

.container {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #ff66b2; /* pink */
}

p {
    color: #ff99cc; /* light pink */
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}
